In [1]:
import pandas as pd

In [2]:
data_2017 = pd.read_csv('2017_daily_AQI_data.csv')
data_2018 = pd.read_csv('2018_daily_AQI_data.csv')
data_2019 = pd.read_csv('2019_daily_AQI_data.csv')
data_2021 = pd.read_csv('2021_daily_AQI_data.csv')
data_2022 = pd.read_csv('2022_daily_AQI_data.csv')

In [3]:
# Preprocess each dataset to remove rows with NaN values
data_2017.dropna(inplace=True)
data_2018.dropna(inplace=True)
data_2019.dropna(inplace=True)
data_2021.dropna(inplace=True)
data_2022.dropna(inplace=True)

In [4]:
merged_data = data_2017.merge(data_2018, on='zip_code', how='inner')
merged_data = merged_data.merge(data_2019, on='zip_code', how='inner')
merged_data = merged_data.merge(data_2021, on='zip_code', how='inner')
merged_data = merged_data.merge(data_2022, on='zip_code', how='inner')

In [5]:
years = [2017, 2018, 2019, 2021, 2022]
final_data = pd.DataFrame()

In [7]:
# Adjusting the code to use pd.concat instead of append
final_data_concat = pd.concat(
    [merged_data.filter(regex=f'(^zip_code|_{year}$)').assign(year=year).rename(columns=lambda x: x.replace(f'_{year}', ''))
     for year in years]
).sort_values(by=['zip_code', 'year']).reset_index(drop=True)

# Display the first 15 rows of the DataFrame to show the first three zip codes
final_data_concat.head(15)

    zip_code  OZONE_AQI  PM2.5_AQI  year
0       2108  31.729050  40.253444  2017
1       2108  31.565934  43.079890  2018
2       2108  31.304469  34.994521  2019
3       2108  31.083799  33.369863  2021
4       2108  34.414566  30.378082  2022
5       2109  31.729050  40.253444  2017
6       2109  31.565934  43.079890  2018
7       2109  31.304469  34.994521  2019
8       2109  31.075630  33.373626  2021
9       2109  34.379213  30.315934  2022
10      2110  31.729050  40.253444  2017
11      2110  31.565934  43.079890  2018
12      2110  31.304469  34.994521  2019
13      2110  31.083799  33.369863  2021
14      2110  34.414566  30.378082  2022

In [8]:
final_data_concat.to_csv('FinalMergedAQI.csv')